.contactSubmit {
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 0;
    
    &__textaera {
        padding: 5px;
        margin: 30px 0 0 0;
        height: 130px;

    }

    &__msg {
        font-family: $font-text;
        margin: auto;
    }

}
.form {
    display: flex;
    margin: 40px auto 40px auto;
    width: 50%;

    &__mainBox {
        width: 100%;
    }

    &__inputBox {
        display: flex;
        width: auto;
        flex-direction: row;
        justify-content: space-between;
    }

    &__input {
        font-family: $font-text;
        font-size: 15px;
        border: 0;
        border-bottom: 1px solid $color-font-dark;
        width: 35%;
        border-radius: 0;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        
    }

    &__title {
        padding-right: 10px;
        font-family: $font-text;
        font-size: 15px;
    }

    &__boxBtn {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    &__btn {
        padding: 5px 15px 5px 15px;
        font-family: $font-text;
        font-size: 15px;
        background-color: $color-font-dark;
        color: $color-font-light;
        border: none;
        border-radius: 5px;
        width: 130px;
        @include box-shadow;
    }

    &__mailBox {
       margin: 30px 0 30px 0;
    }
}

@media screen and (max-width: 425px) {
  

    .form {
        flex-direction: column;
        width: 90%;

        

        &__inputBox,
        &__mailBox {
            flex-direction: column;
            width: 80%;
            margin: 0;
        }

        &__input {
            width: 80%;
            margin: 20px 0 20px 0;
        }
    }

}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .form {
        width: 80%;
    }

       
   

    }


