



.presence{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
  
    &__box{
        display: flex;
        padding: 5px;
    }

    &__title{
        padding-left: 10px;
        font-family: $font-text;
    }
    
    
}
.confirmation__msg {
    display: flex;
    font-family: $font-text;
    width: 40%;
    margin: 40px auto;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  

    .confirm__text{
        font-size: 15px;
        line-height: 25px;
    }
    
    .presence {
        width: 80%;
        padding-left: 10px;
    
        &__msg{
            width: 80%;
            padding-left: 10px;
        }
    }

    }

@media screen and (max-width: 425px) {
    .confirm__text{
        font-size: 15px;
        line-height: 25px;
    }

    
.presence {
    width: 100%;
    padding-left: 10px;

    &__msg{
        width: 100%;
        padding-left: 10px;
    }
}
}