.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-background;
 
  
  &__box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    padding: 30px;
  }

  &__photo {
    width: 49%;
    height: 100%;
   
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 49%;
    padding: 30px 30px 0 30px;
    text-align: justify;
    font-family: $font-text;
    line-height: 30px;
    background-color: white;

  }

  &__imgBack {
    position: relative;
    width: 60%;
    height: 100%;
    @include box-shadow;
  
  }

  &__imgFront {
    position: relative;
    right: -250px;
    bottom: 50px;
    width: 60%;
    height: 100%;
    @include box-shadow;
   
  }

  &__logo {
    width: 60px;
  }

  &__textImg {
    position: relative;
    object-fit: cover;
    border-radius: 50%;
    width: 25%;
    margin: auto;
  }

  &__boxImg {
    display: flex;
    justify-content: center;
  }
}
