.main{
  position: relative;
  z-index: -1 ;
}

.home {
  display: flex;
  position: absolute;
  top: 30%;
  left: 2%;
  flex-direction: column;
  width: 50%;
  background-color: $color-background;
  opacity: 80%;
  @include box-shadow;
  
  &__text {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 30px 10px 30px;
    text-align: justify;
    font-family: $font-text;
    line-height: 30px;
    font-size: 14px;
       
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 20px 10px;
  }

  &__logoImg {
   
    width: 50px;
    
  }
}

@media screen and (max-width: 768px) {
  
  .home {
    position: relative;
    margin-top: 20px;
    width: 90%;
    margin: 20px auto 20px auto;
    top: 0;
    left: 0;

    }
  }

