.logement {
    
   &__titre2 {
    font-family: $font-text;
    color: $color-font-dark;
    width: 80%;
    height: 100%;
    font-weight: 400;
    font-size: 22px;
    padding: 20px;
    margin: auto;
    
   }

   &__mainBox{
    background-color: $color-font-light;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 18px;
   }

   &__mainTextBox {
    width: 90%;
    margin-left: 50px;
   }

   &__titre3{
    font-family: $font-text;
    color: $color-font-dark;
    font-weight: 400;
    padding: 20px;
    }

    &__listBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px 0 10px 0;
    }

    &__textBox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__text{
        font-family: $font-text;
        color: $color-font-dark;
        text-align: justify;
        vertical-align: middle;
        
    }

    &__textTitle{
        font-family: $font-text;
        color: $color-font-dark;
        font-weight: 600;
        padding: 5px 0 5px 0    ;
    }

    &__box{
        display: flex;
        flex-direction: column;
        margin: 30px auto 30px auto;
        padding: 20px;
        width: 100%;
        background-color: white;
        border-radius: 18px;
        @include box-shadow;
    }


    &__picto {
        margin: 0 20px 0 0;
    }

    &__ligne{
        width: 150px;
        margin: 20px auto 20px auto;
        
    }


}

.btn {
    &__reservation {
        padding: 5px 15px 5px 15px;
        font-family: $font-text;
        font-size: 15px;
        background-color: $color-font-dark;
        color: $color-font-light;
        border: none;
        border-radius: 5px;
        width: 130px;
        @include box-shadow;
    }

    &__link {
        color: $color-font-light;
    }
}


a {
    text-decoration: none;
    color: $color-font-dark;
}

li{
    list-style: none;
}

@media screen and (max-width: 768px) {

.logement {
    &__mainBox{
        width: 90%;
        background-color: white;
    }

    &__mainTextBox {
        width: 100%;
        margin-left: 0;
       }
    

    &__box {
        background-color: $color-font-light;
    }

    &__text {
        font-size: 14px;
        padding: 5px 0 5px 20px;
    }

    &__titre3{
        padding: 10px 0 10px 0;
        }

    &__listBox{
        flex-direction: column;
        margin: 20px 0 20px 0;
    }

    &__textTitle {
        padding: 5px 0 5px 0;
       
    }

    &__textBox{
        flex-direction: row;
        justify-content: space-between;
    }

    &__text{
        padding: 5px 0 5px 0;
    }

  
}

.btn__reservation {
    margin: 0;
}

}