
.progMain {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    padding-top: 20px;
}


.progLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    font-family: $font-text;
    color: $color-font-dark;
    

    &__list {
        list-style: none;
    }

    &__text {
        padding: 30px;
        word-spacing: 20px;
        letter-spacing: 5px;
        font-size: 20px;
        vertical-align: middle;
    }

    &__picto {
        height: 30px;
        vertical-align: middle;
    }

    &__img{
        height: 35px;
        margin-left: 20px;
    }

}

.danceBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}


.progRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    

&__img {    
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto 0 auto;
    border-radius: 5px;
}

&__picto {
    height: 50px;
    margin: 10px;
    vertical-align: middle;
}
}




@media screen and (max-width: 768px) {

    .progMain {
        flex-direction: column;
        padding-top: 0;
        
    }

    .progLeft {
        width: 100%;
        height: auto;

        &__text,
        &__picto {
            font-size: 10px;
            height: 20px;
            word-spacing: 2px;
        }

        &__img{
            position: absolute;
            left: 50px;
        }

        &__pictodance{
            color: white;
        }
    }

    .progRight {
        width: 100%;
        height: auto;
        
        &__img {
            margin: 40px auto auto auto;
        }
     
    }
}