.header {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  

  &__box {
    width: 70%;    
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
  }

  &__text {
    font-family: $font-text;
    color: $color-font-dark;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
  }

  &__burger {
    width: 40px;
    height: 30px;
    background: transparent;
    border: none;
    color: inherit;
    display: none;
  }

  &__xmark-icon {
    display: none;
  }
}


@media screen and (max-width: 768px) {
  .show-nav .header__list {
    right: 0;
    width: 100vw;
    visibility: visible;
  }
 
  .header {
    &__list {
      flex-direction: column;
      justify-content: center;
      position: fixed;
      right: -100vw;
      bottom: 0;
      visibility: hidden;
      align-items: center;
      height: 100vh;
      width: 0;
      padding: 20px;
      background-color: $color-background;
      transition: all 0.8s ease-out;
    }

   

    &__text{
      display: block;
      font-size: 5vw;
      color: $color-font-dark;
    }

    &__text::after{
      content: '';
      display: block;
      margin: 2rem auto 0 auto;
      width: 3vw;
      height: 1px;
      background: $color-font-dark;
    }

    &__text:last-child::after{
      display: none;

    }

    &__box {
      display: flex;
      width: 100%;
      justify-content: right;
    }

    &__burger {
      display: block;
      position: fixed;
      top: 1rem;
      right: 1rem;
    }

    &__burger:hover{
      cursor: pointer;
    }

    
  
    &__burger-bar,
    &__burger-bar::before,
    &__burger-bar::after {
      display: block;
      width: 30px;
      height: 3px;
      position: relative;
      border-radius: 3px;
      background: $color-font-dark;
      transition: all .5s ease-in-out;
      
    }

    &__burger-bar::before,
    &__burger-bar::after {
      content: '';
      position: absolute;
      left: 0;
    }

    &__burger-bar::before{
      transform: translateY(-12px);
    }

    &__burger-bar::after{
      transform: translateY(12px);
    }

    .show-nav .header__burger-bar {
      background: transparent;
      width: 0;
    }
  
    .show-nav .header__burger-bar::before{
      transform: rotate(45deg);
    }

    .show-nav .header__burger-bar::after{
      transform: rotate(-45deg);
    }
}

 // burger animation

 .header__text {
  transform: translateY(100vh);
 }

 .show-nav .header__text{
  transform: translateY(0);
 }

 
 .show-nav .slideDown--1{
  transition: all 1s ease-out;
 }
 .show-nav .slideDown--2{
  transition: all 1.1s ease-out;
 }
 .show-nav .slideDown--3{
  transition: all 1.2s ease-out;
 }
 .show-nav .slideDown--4{
  transition: all 1.3s ease-out;
 }
 .show-nav .slideDown--5{
  transition: all 1.4s ease-out;
 }
}

